.lastestLaunch {
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 20%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2vh 2vw;
  text-align: center;
  align-items: center;
  transition: 0.3s ease;
  font-size: 2vh;
  @media (max-width: 768px) {
    width: 40%;
  }
  flex-wrap: wrap;

  img {
    height: 20%;
  }
}
.lastestLaunchWrapper {
  display: flex;
  flex-direction: row;
  span {
    // word-wrap: break-word;  
    // word-break: break-all;
    width: 50%;
  }
  .lastestLaunchButton {
    position: absolute;
    top: 50%;
    @media (max-width: 768px) {
      left: 36% !important;
    }
    left: 19%;
    padding: 2px;
    transition: 0.3s ease;
  }
  .isExtendedButton {
    @media (max-width: 768px) {
      left: 94% !important;
    }
    left: 37% !important;
    transition: 0.3s ease;
  }
  .isExtended {
    width: 50% !important;
    @media (max-width: 768px) {
      width: 100% !important;
    }
    z-index: 2;
    transition: 0.3s ease;
    .videoImgWrapper {
      .videoImg {
        transition: 0.3s ease;
        width: 50% !important;
      }
    }
  }
  .isExtendedVideo {
    @media (max-width: 768px) {
      width: 0% !important;
    }
    width: 50%;
    z-index: 2;
    transition: 0.3s ease;
    .videoImgWrapper {
      h2 {
        @media (max-width: 768px) {
          left: 110% !important;
        }
      }
      .videoImg {
        transition: 0.3s ease;
        width: 61% !important;
        @media (max-width: 768px) {
          width: 0% !important;
        }
      }
    }
  }
  .lastestVideoWrapper {
    width: 85%;
    @media (max-width: 768px) {
      width: 60%;
    }
  }
}

.lastestVideo {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.hidden {
  visibility: hidden !important;
}
.videoImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.3s ease;
  height: 100%;
  .videoImg {
    transition: 0.3s ease;
    top: 0%;
    position: absolute;
    width: 78%;
    @media (max-width: 768px) {
      width: 61%;
    }
    object-fit: cover;
    object-position: center center;
    height: 100vh;
  }
  h2 {
    font-size: 2vh;
    top: 70%;
    position: absolute;
    background-color: white;
    padding: 2vh;
    border-radius: 5vh;
    position: absolute;
    display: block;
  }
}
