.lastestLaunchWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  span {
    width: 50%;
    flex: 1 0 17%;

  }
  .lastestLaunchButton {
    position: absolute;
    top: 50vh;
    @media (max-width: 768px) {
      left: 50% !important;
      top: 45vh;
    }
    left: 17%;
    padding: 2px;
    transition: 0.3s ease;
  }
  .isExtendedButton {
    @media (max-width: 768px) {
      top: 95vh !important;
      left: 50% !important;
    }
    left: 45% !important;
    transition: 0.3s ease;
  }
}
