.lastestLaunchWrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  span {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      // max-height: 25vh;
    }
      @media (orientation: landscape) {
        h3{
          font-size: 5vw;
        }   
    }
  h3{
    font-size: 2vh;
  }
    width: 50%;
    flex: 1 0 15%;
    a{
      color: white;
      text-decoration: none;
    }

  }
  .lastestLaunchButton {
    position: absolute;
    top: 50vh;
    z-index: 5;
    @media (max-width: 768px) {
      left: 45% !important;
      top: 45vh;
    }
    left: 15%;
    padding: 2px;
    transition: 0.3s ease;
  }
  .isExtendedButton {
    @media (max-width: 768px) {
      top: 93vh !important;
      left: 45% !important;
    }
    left: 45% !important;
    transition: 0.3s ease;
  }
}
.isExtendedOpacity{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
}
.MuiButton-text{
  font-size: 1.8vh !important;
  padding: 0;
  text-transform: none !important;
  &:hover{
    background-color: rgba(238, 238, 238, 0.2) !important;
  }
  span{
    width: 100%;
  }
}