.RocketsWrapper {
    height: 98vh;
    .headerUp{
      transition: 1s ease-in-out  ;
      transform: translateY(-100vh);
    }
  h1 {
    transition: 1s ease-in-out  ;
    color: white;
    text-align: center;
  }
  h3{
    color: white;
    font-size: 3vh;
}
  .Rockets {
      height: 90vh;
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    .active{
      transition: 1s ease-in-out  ;
      transform: translateY(-100vh);
    }
    .inActive{
      transition: 2s ease-in-out  ;
      transform: translateY(100vh);
    }
    .falcon1 {
      transition-delay: 1s;
      transition: 1s ease-in-out  ;
        img { 
          height: 22.25*0.7vh;
      }
    }
    .falcon9 {
      transition-delay: 1s;
      transition: 1s ease-in-out  ;
      img {
        height: 70*0.7vh;
      }
    }
    .falconheavy {
      transition-delay: 1s;
      transition: 1s ease-in-out  ;
      img {
        height: 70*0.7vh;
      }
    }
    .starship {
      transition-delay: 1s;
      transition: 1s ease-in-out  ;
      img {
        height: 118*0.7vh;
      }
    }
  }
}
.pagesUnderRockets{
.CreateRocketWrapper {
  overflow: scroll;
  transition: 1s ease-in-out  ;
  position: absolute;
  width: 100%;
  top:100vh;
}
}
.pageUp{
  width: 100%;
  top:0vh !important;
  left: 0;
  .CreateRocket{
    transition: 1s ease-in-out  ;
    img{
      transition: 1s ease-in-out  ;
      transform: translateY(-95vh);
      transition-delay: 1s;
    }
  }

}
